<!--The content below is only a placeholder and can be replaced.-->
<div class="layout-row container">
  <div class="dt-sidebar">
    <div class="logo"></div>
    <div class="button">
      <i class="material-icons">burst_mode</i>
    </div>
  </div>
  <div class="sidebar">
    <div class="layout-row layout-align-space-between">
      <h2>
        Task List
      </h2>
      <i class="material-icons">list</i>
    </div>
    <div *ngIf="tasks">
      <div class="task" *ngFor="let task of tasks" (click)="onClick(task.name)">
        {{ task.name }}
      </div>
    </div>
    <!-->div class="task">
      Task 2
    </div>
    <div class="task">
      Task 3
    </div-->
  </div>
  <div class="main-layout">
    <div class="frames">
      <div class="frame" *ngFor="let frame of frames; let i = index" (click)="onImageClick(i)"
        (mouseover)="onMouseOver(i)">
        <img [src]="frame" alt="" [ngClass]="{'selected': selected[i]}">
      </div>
    </div>
    <div *ngIf="frames">
      <button class="submit-button" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>